.bash{
    color: black;
    padding-left: 15px;
    font-size: medium ; 
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    width: 100%;
    display: inline-block
}